%h1 Listing hotels

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th Hotel
      %th City
      %th
  %tbody
    - @hotels.each do |hotel|
      %tr
        %td= hotel['name']
        %td= hotel['city']
        %td= link_to 'Details', hotel_path(hotel['hotelId'])
%br
